# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environments
.venv/
venv/
env/
ENV/
**/.venv/

# IDEs
.idea/
.vscode/
.DS_Store

# Project-specific
outputs/
google-key.json
dataset_cache/
IndicTransToolkit/
